{% extends'base.html.twig' %}

{% block title %}
    Importer un fichier
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
 {% endblock %}

{% block main %}

<h1>Bonjour tu vas pouvoir importer des nouveaux stagiaires, c'est cool non?</h1>


{% endblock %}