{% extends 'base.html.twig' %}

{% block title %}  Sortir | Modifier mon profil{% endblock %}

{% block main %}
<div class="blockMonProfil">
    <h1> Modifier mon profil</h1>

    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    <button type="submit"> modifier</button>
    {{ form_end(participantForm) }}
</div>
{% endblock %}
