<nav>
    <ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        <li><a href="{{ path('participant_update')}}">Gerer son profil</a></li>
        {% endif %}
    </ul>
</nav>