.bloc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    width: 55%;
}

.titre{
    font-family: sans-serif;
    margin-bottom: 20%;
    text-align: center;
}

button{
    border: 0px solid ;
    background-color: rgba(57,83,161,0.4);
    font-family: sans-serif;
    font-weight: bold;
    width: 90px;
    height: 30px;
}

#gestion_admin{
    float: left;
}

.form-button{
    position: relative;
    float: right;
}

select{
    border: 1px solid;
    border-color: #8959A8;
    background-color: #FFFFFF;
    height: 26px;
}


