/*-------------------------------Filtre-----------------------------*/
.title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: Large;
    margin-top: 50px;
}

form div div{
    margin-bottom: 1%;
}

label{
    font-family: sans-serif;
    display: block;
    width: 300px;
    float: left;
}

input, select{
    width: 180px;
    border: 1px solid;
    border-color: #8959A8;
    background-color: #FFFFFF;
}

[for=dateDebut]{
    width: 50px;
    display: inline;
}

[for=dateFin]{
    width: 50px;
}

#dateDebut, #dateFin{
    width: 125px;
}

/*-----------------------------Tableau----------------------------*/

.tableau{
    width: 100%;
    border: 2px solid rgba(57,83,161,0.4);

    font-family: sans-serif;
}
.scroll{
    margin-top: 2%;
    width: 1080px;
    height: 168px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.ligne-titre{
    height: 30px;
}

thead{
    background-color: rgba(57,83,161,0.4);
    text-align: center;
}

tbody{
    text-align: center;
}

.ligne-nom{
    width: 200px;
}

.ligne-inscrits, .ligne-organisateur{
    width: 110px;
}

.ligne-dateSortie, .ligne-cloture, .ligne-etat{
    width: 90px;
}

.ligne-inscrit{
    width: 70px;
}

#pair{
    background-color: rgba(57,83,161,0.2);
}

.pseudo-organisateur a, .actions a{
    text-decoration: none;
    color: black;
}

.bloc-user li{
    list-style: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

.bloc-user{
    float: right;
}

.bouton-creer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    background-color: rgba(57,83,161,0.4);
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 1%;
    width: 150px;
    color: black;
    font-weight: bold;
    margin-bottom: 1%;
}

button{
    border: 0px solid ;
    background-color: rgba(57,83,161,0.4);
    font-family: sans-serif;
    font-weight: bold;
    width: 90px;
    height: 30px;
}