<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        {{ encore_entry_link_tags ( 'app' ) }}
    {% endblock %}
    <title>{% block title %} Sortir.com {% endblock %}</title>
</head>
<body>

{% block main %}

<h1>Test</h1>

{% endblock %}

</body>
{% block javascripts %}
    {{ encore_entry_script_tags ( 'app' ) }}
{% endblock %}
</html>